*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
html {
	overflow-y: scroll; 
}
html, body {
	width: 100%;
 	height: 100%;
}
body {
	color: #a5a5a5;
	background: #1d1d1d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	line-height: 1.6;
}
::selection {
  background: #121212;
}
::-moz-selection {
  background: #121212;
}
h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 7.5px;
}
h3 {
	color: #e2e2e2;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 7.5px;
}
a {
	text-decoration:none;
}
@media all and (max-width: 700px) {
	body {
		font-size: 11px;
	}
	h2 {
		font-size: 14px;
	}
	h3 {
		font-size: 12px;
	}
}

header {
	width:100%;
	min-height: 700px;
	background-image: url('../../assets/images/image1.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: content-box;
	-moz-box-shadow: 0 0 10px #121212;
	-webkit-box-shadow: 0 0 10px #121212;
	box-shadow: 0 0 10px #121212;
}
section, .headerContainer {
 	max-width: 1100px;
 	padding: 0 10px;
 	margin: 0 auto;
}
footer {
	color: #737373;
	height: 200px;
 	padding: 30px 40px;
	background: #121212;
	box-sizing: content-box;
	-moz-box-shadow: 0 0 10px #121212;
	-webkit-box-shadow: 0 0 10px #121212;
	box-shadow: 0 0 10px #121212;
}
.footerText {
	color: #e2e2e2;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
}
.footerLogo {
	width: 35px;
}
.bottomSetter {
	min-height: 100%;
}
.bottomSetter:after {
	content: "";
	display: block;
}
.headerAbout {
	width:100%;
	min-height: 35px;
}
@media all and (max-width: 700px) {
	.footerText {
		font-size: 14px;
	}
}

.headerContainer {
	color: #fff;
	font-size: 62px;
	font-weight: 600;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media all and (max-width: 1000px) {
	.headerContainer {
		font-size: 40px;
	}
}
@media all and (max-width: 700px) {
	.headerContainer {
		font-size: 22px;
	}
}
@media all and (max-width: 400px) {
	.headerContainer {
		font-size: 20px;
	}
}

.navBar {
	width: 100%;
	background: #121212;
	position: fixed;
	display: flex;
	align-items: center;
	box-sizing: content-box;
	-moz-box-shadow: 0 0 10px #121212;
	-webkit-box-shadow: 0 0 10px #121212;
	box-shadow: 0 0 10px #121212;
}
.navBarButtons {
	min-width: 100px;
	padding: 20px 20px;
	text-align: center;
	display: inline-block;
	border-right: 1px solid #737373;
}
.first {
	border-left: 1px solid #737373;
}
.navBarImage {
	width: 25px;
}
.navBar a {
	color: #a5a5a5;
	-moz-transition: all 0.375s ease;
	-webkit-transition: all 0.375s ease;
	transition: all 0.375s ease;
}
.navBar a:visited {
	color: #a5a5a5;
}
.navBar a:hover {
	color: #fff;
}
@media all and (max-width: 1000px) {
	.navBarButtons {
		min-width:25%;
	}
}
@media all and (max-width: 700px) {
	.navBarImage {
		width:17.5px;
	}
}

.blog {
	/*background: rgba(255, 255, 255, 0.05);*/
	padding: 40px;
	margin: 50px auto;
	background: #292929;
	border: solid rgba(85, 85, 85, 1) 0px;
    border-radius: 35px;
	box-sizing: content-box;
	-moz-box-shadow: 0 0 10px #121212;
	-webkit-box-shadow: 0 0 10px #121212;
	box-shadow: 0 0 10px #121212;
}
@media all and (max-width: 700px) {
	.blog {
		padding: 15px;
	}
}

.flavour {
	color: #e2e2e2;
	font-size: 16px;
	font-style: oblique;
	min-height: 380px;
	background: none;
	padding: 20px 200px;
	text-align: justify;
	line-height: 2;
}
@media all and (max-width: 1000px) {
	.flavour {
		padding: 20px 100px;
	}
}
@media all and (max-width: 700px) {
	.flavour {
		padding: 20px 25px;
		font-size: 11px;
	}
}
@media all and (max-width: 400px) {
	.flavour {
		padding: 20px 0;
	}
}
.activity {
	min-height: 550px;
	background: none;
}
.guide {
	min-height: 650px;
	background: none;
}
.guide a {
	color: #BB86F6;
	background-image: linear-gradient(#BB86F6, #BB86F6);
	background-size: 0% 0.1em;
	background-position-y: 100%;
	background-position-x: 0%;
	background-repeat: no-repeat;
	-moz-transition: background-size 0.5s ease-in-out;
	-webkit-transition: background-size 0.5s ease-in-out;
	transition: background-size 0.5s ease-in-out;
}
.guide a:visited {
	color: #BB86F6;
}
.guide a:hover {
	color: #d0a6ff;
}
.guide a:active {
	color: #BB86F6;
}
.guide a:hover,.guide a:focus,.guide a:active {
	background-image: linear-gradient(#d0a6ff, #d0a6ff);
	background-size: 100% 0.1em;
}

.activityText {
	width: 50%;
	padding-left: 15px;
	text-align: justify;
	float: right;
}
.guideText {
	width: 50%;
	padding-right: 15px;
}

#firstImage {
	width: 50%;
}
#secondImage {
	width: 50%;
	display: inline-block;
	float:right;
}

table {
	width: 100%;
}
td {
	text-align: justify;
	padding: 15px;
}
.sponsorImage {
	width: 100px;
}